@media (min-width: 1600px) {
    .container {
        max-width: 1500px;
    }
}

.app-header {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}
.app-header__logo {
    background-color: #2d2d30;
}

.arb_table td {
    display: table-cell;
    vertical-align: middle;
}
.table.arb_table thead th {
    vertical-align: top !important;
    border-bottom: 2px solid #dee2e6;
}

table.arb_table {
    border-collapse:separate;
}
table.arb_table td:hover {
    border:1px solid #999;
}

.table_info_diag {
    position: relative;
    height:40px;
    width: 110px;
    background: -webkit-linear-gradient(30deg, green 50%, lightpink 51%);
    background: linear-gradient(30deg, green 50%, lightpink 51%);
    color:white;
}
.sell_diag, .buy_diag {
    position: absolute;
    padding: 0.4rem;
    font-weight:bold;
    font-size: .8rem;
}
.buy_diag {
    left: 0; bottom: 0;
}
.sell_diag {
    right: 0; top: 0;
}

.bg_1 {background: #ffedee;}
.bg_1_1 {background: #fff;}
.bg_1_5 {background: #effff3;}
.bg_5_10 {background: #d4edda;}
.bg_10_20 {background: #bee8c8;}
.bg_20 {background: #7dc68e;}




.has-error {
    color: var(--danger);
}
.has-error input {
    border-color: var(--danger);
}
.multiselect-container {
    width: 100%;
}
.multiselect-container>li>a>label {
    padding: 3px 20px 3px 20px !important;
    width: 100%;
}

.glyphicon.glyphicon-remove-circle:before {
    content: "\f007";
}